<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meus Objetos</title>
</head>
<body>
<h1>Lista de Categorias</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoria : ${categorias.content}">
        <td th:text="${categoria.id}"></td>
        <td th:text="${categoria.name}"></td>
    </tr>
    </tbody>
</table>
<!-- Adicione aqui a navegação para paginação, se necessário -->
</body>
</html>
